[2016-12-18 11:39] jods4 opened #1 "Don't use FS"
From @niieani

[2016-12-18 11:39] jods4 opened #2 "Support chunking"
From @niieani

[2016-12-18 11:40] jods4 opened #3 "Dependency post-processing?"
From @niieani

[2016-12-18 11:40] jods4 opened #4 "Support Globbing"
From @niieani

[2016-12-18 11:48] jods4 commented on #3
I am not sure I understand the use-case perfectly.
My plugins work as any built-in webpack plugins would, so if for example you want to override the chunking, that would be an external concern handled by another plugin (e.g. the built-in `CommonChunkPlugin` does that)?

[2016-12-18 13:29] jods4 commented on #1
Fixed, now both `ExtensionsDependenciesPlugin` and `GlobDependenciesPlugin` probe the `compilation.inputFileSystem` instead of `fs` directly.

[2016-12-18 13:29] #1 closed

[2016-12-20 23:01] niieani commented on #1
Nice one. 👍

[2016-12-21 01:46] jods4 commented on #2
I now have an example with 2 different pages that are (with their dependencies) split into one chunk each, which is loaded on demand.

All it takes is passing a chunk name: `PLATFORM.moduleName('my-page', 'chunk-name')`.

[2016-12-21 01:46] #2 closed

[2016-12-21 18:25] niieani commented on #2
Would you consider supporting a configurable object instead of a string passed in the second parameter? This would allow for potential extensions of the `moduleName` API in the future.

[2016-12-21 19:15] jods4 commented on #2
I am trying to make this as simple as possible for the common case.
But the string could be a shortcut and we could accept an object if we wanted to add extra options.
Maybe `moduleName(string, string | { chunk: string, ... })`.
Do you have any option in mind? I can't think of anything...

[2016-12-21 20:33] niieani commented on #2
Yes, I do. I don't think it's a good idea to make the second parameter a "chunk-name string OR object", because the chunk name might not be present in other build systems (it might be a webpack-only concept), while other options might be more universal. Here's the interface I have defined so far: https://github.com/aurelia/pal/blob/master/src/index.js#L157-L170

[2016-12-21 20:37] niieani commented on #3
The reason is that even if you define a chunk in the code (i.e. `PLATFORM.moduleName(name, { chunkName: 'some-chunk', lazy: true })`), there will be situations you in which you want to override that decision and force the module to NOT load lazily (maybe for unit-testing), or to do the opposite (when the `PLATFORM.moduleName` happens in an external module we have no control over -- in such a case

[2016-12-21 20:46] jods4 commented on #2
We don't need to name that string `chunk`, but if you do code splitting (the concept), which is no doubt the most useful option, you need a way to group what goes together and what is separated. An arbitrary key string is probably the most natural way to do that?
What I mean is that this string can map to `chunk` in webpack and to something else in other packaging systems (e.g. be a new entry poin

[2016-12-21 21:27] niieani commented on #2
The idea of `lazy` is to apply the bundle-loader with the `lazy=true` query option to the given module (e.g. equivalent of `require.include('bundle-loader?lazy&chunk=someChunk!./some-module')`) -- at least in Webpack. It would have to work differently in RJS or other loaders, but its definitely implementable outside of Webpack.

`moduleRegex` would be used to override the set of included files bas

[2016-12-21 21:28] jods4 commented on #3
I have to say I'm not 100% sure I get it. Do you have an example somewhere? Maybe one of those unit tests?

Well... modules designated by `moduleName` are meant to be loaded by Aurelia, whose loader is always async. You can't change that.

What you can change is whether the file containing your module will be loaded on demand, or not. I am really not sure why that matters as there is no observable

[2016-12-21 21:38] niieani commented on #3
You misunderstood. What I mean here is to make the _whole chunk_ load lazily, not the individual module. See bundle-loader to understand what I mean here.

It cannot be a separate plugin concern, because the emitted code of a module will not return the actual module, but a callback which, when called, returns the actual module.

When talking about overriding lazily loaded chunks, we're not talking

[2016-12-21 21:47] jods4 commented on #2
The bundle-loader `lazy` context makes no sense here. It is meant to be used at the loading site but `PLATFORM.moduleName()` is not the loading site. It is just a static declaration of a dynamic dependency that might be requested by `aurelia-loader`. The loading site _is_ `aurelia-loader-webpack` but it always operate the same and does not expose a `lazy` option.

Let me explain that better. In my

[2016-12-21 22:00] jods4 commented on #2
A few comments about `moduleRegex`.
OK, this is the globbing part which I haven't talked yet.

1. Do we need an additional regex? Webpack itself parses expressions like your `'./submodule/' + someVar` (I currently don't) but I don't think there is additional support to limit what is actually matched by that, is it?
So if webpack gets away with just that, do we need to add extra complexity?

2. I'm

[2016-12-21 22:00] niieani commented on #2
I believe we're still talking about two different things.

Obviously, every call to load a module will be asynchronous, unless the module is cached. That's the design of the aurelia-loader. The `lazy: true` is solving an entirely different problem. It's like an annotation that tells the bundler:

"Hey Bundler, I don't want this module to be added to this bundle! Instead, make a new bundle and put

[2016-12-21 22:02] jods4 commented on #2
Read my examples and explanations again. This is not what `lazy` means. `bundle!` always create another chunk. What `lazy` changes is at which moment exactly that chunk is fetched on the network.

[2016-12-21 22:06] niieani commented on #2
In the last year people have developed so many edge-cases, that warrant such an addition. Webpack does indeed get away with `'string' + var` combos, but it does allow you to define whether it should add subdirectories or not. Since we need to create a regex from the `'string' + var` combo, we might as well support overwriting for more granular control.

As for dead code from `PLATFORM.moduleName('

[2016-12-21 22:07] jods4 commented on #3
From that discussion in #2 I think you don't understand exactly what `lazy` does. Can you make sure everything is clear on that front and tell me again if it impacts this discussion?

If those value converters are only requested by a certain route, and that route is declared with code splitting
`PLATFORM.moduleName('route-that-uses-tons-of-converters', 'chunk-xy')`
Then my code already works like

[2016-12-21 22:12] niieani commented on #3
I do understand what `bundle-loader?lazy` does. The whole loader is [extremely simple](https://github.com/webpack/bundle-loader/blob/master/index.js). In fact, the part responsible for `lazy: true` is only 5 lines long:

[code]

All it does is replaces the module with another one that contains a request to load an external chunk containing the originally requested module and `callback()` after loa

[2016-12-21 22:21] jods4 commented on #2
RE: patterns, I agree with the flexibility of a regex or a glob but I would like to see some of those edge-cases to know what we're designing for. I don't like adding concepts without an application.
Note that strings have another advantage: webpack will complain if you made a typo, so in my first example (inside the item itself) it would be a good static check. A regex has no compile-time validat

[2016-12-21 22:24] niieani commented on #3
I do think it impacts this discussion, because we still might like to have a centralized config which overwrites this setting. If you do `require('bundle-loader?lazy!./some-module')` you cannot overwrite this with any plugin, unless you'd do some hackery with dynamically removing loaders. Of course, that's the design of Webpack, because the module passed through a loader does not contain the origi

[2016-12-21 22:31] niieani commented on #2
Actually it is related, because of how `require.ensure` behaves. If I remember correctly, if you make multiple `require.ensure`s with the same `chunkname` (3rd parameter), it'll still reuse the same, provided chunk (and add to it), not create a new one.

[2016-12-21 22:34] jods4 commented on #2
Yes, that is again correct but still unrelated to `lazy`.
Notice how in the codegen above, whether lazy or not, the same `require.ensure([], function, "chunkname")` call is emitted.

[2016-12-21 22:38] niieani commented on #2
Of course I also agree that regex is less debuggable. Perhaps an option like `recursive: boolean` to indicate whether we want to dig into the `variable+'string'` path recursively might be a good medium ground.

I don't have good examples at hand, because I didn't ever have such needs, however we've had users who had those patterns of dynamically loading (I know cause I've debugged them), so they w

[2016-12-21 23:18] jods4 commented on #3
OK, let's ignore the fact that converters are synchronous.

If I understood correctly:
- the value converter takes a parameter and then loads that module dynamically.
- the page passes 'A' and 'B' as values to that converter.

It would work, simply you need `moduleName('A')` and `moduleName('B')` somewhere in that page.
Dependencies will look like:
[code]

[2017-01-06 16:58] jods4 opened #5 "Good defaults for HTML dependencies?"
@niieani
I have cleaned up my plugins a bit, to support a few additional configuration settings.
`HtmlDependenciesPlugin` is currently more a proof of concept than a full solution.
Do you have a good list of attributes that we should catch be default?
I currently have the following list:
[code]

[2017-01-07 00:26] jods4 opened #6 "Removing webpack-dependency-suite"
@niieani
Currently my demos and webpack Aurelia plugins still use one last piece of `webpack-dependency-suite`: the `list-based-loader`. I need it so that framework dynamic dependencies are properly included (based on `aurelia.build.resources` in `package.json`).

My understanding is that it was decided to also/instead insert `PLATFORM.moduleName()` anywhere in framework code, where a dynamic depe

[2017-01-08 22:28] niieani commented on #6
Feel free to send PRs to all the places in Aurelia where that's required in our code. Just post the links to the PRs here and I'll review them ASAP. I've been pretty busy with some other stuff recently, hence my unavailability in the last few days.

Thanks!

[2017-01-08 22:30] niieani commented on #5
I think these were all I've had so far, it should cover 99% of use cases. It would be good to leave this configurable though.

[2017-01-08 22:34] jods4 commented on #5
Yes, it can be changed from the webpack config side.

Since that all we have for now I'm closing this.

[2017-01-08 22:34] #5 closed

[2017-01-08 22:38] jods4 commented on #6
We can freely do PR in all aurelia libs to add a `PLATFORM.moduleName()` anywhere there's a dynamically loaded module?
I assumed that since `PLATFORM` won't be removed when not running the webpack plugin, a real implementation has to be properly imported, right -- as opposed to being a global placeholder?

[2017-01-08 22:42] niieani commented on #6
Yes. The real implementation is there in `aurelia-pal`, in fact it's been recently released. It simply returns the value of the first parameter. Ultimately we'll want all the build steps to remove the redundant calls (pretty simple to do with a babel plugin), but for now we can just leave it as is, Rob agreed that the trade-off of the extra function call in a non-Webpack environment during the tra

[2017-01-23 19:09] stoffeastrom opened #7 "Question"
I wanted to try this but I must have missed something. After clone I go into the `Webpack` folder and run `npm i`. Then I go into for example `demos/03-Code_splits` and run `npm i ../Webpack` and then `npm i` and then `npm run web`. When I goto `localhost:8080` I get the following error

[code]
I obviously missed something but what :)?

[2017-01-23 20:15] jods4 commented on #7
It really depends which version you've cloned ;)
Note that the last version committed here needs some `npm link` hackery to work from your disk (but it's the most stable/simple/complete).

Given your description I think you have an older release and managed to get it running.
The problem is some missing dependencies in Aurelia libs currently available on NPM.
In the meantime, you can import `Modul

[2017-01-23 20:25] stoffeastrom commented on #7
The clone includes the latest typescript conversion.. I will fiddle around.. hopefully this will get in soon enough :). Thanks for your reply. Regarding the missing npm I noticed that the other day since I wanted to use the `aurelia-bootstrapper@^2.0.0` and the `aurelia-loader-nodejs` has a recent name fix that isn't released. It's quite nice to run `aurelia-testing` with `nodejs` directly in vs c

[2017-01-23 20:52] jods4 commented on #7
ok, here's a few hints to get you started with the latest commit then.

The `Webpack` folder contains a built `aurelia-webpack-plugin@2.0.0-rc` version. No need to npm install. Now the problem for you is that you can't just `aurelia-webpack-plugin: "^2.0.0"` in your `package.json` because it's not published on NPM yet. For now you must `npm link` it.

Here's how:
- Make sure you have the `aurelia-

[2017-01-23 21:16] stoffeastrom commented on #7
The first part I'm already familiar with (npm link) but it was the second part with the gist above that fixed it💥 . I'm converting a plugin of mine to typescript and already had a "old" demo setup with webpack but I wanted to slim it down! I will play around with this... 👍

[2017-01-23 21:16] #7 closed

[2017-01-24 01:52] #6 closed

[2017-02-13 20:08] krokofant opened #8 "Use of aurelia-pal differ between wiki and demo"
In the wiki it's stated that `aurelia-pal@1.2.0` is a prerequisite and the following example is given for it's use:
[code]

Yet, in the demo `aurelia-pal` isn't in the deps and the uses of it seems global. I'm sure this will be more clear when it's fully released but could you clarify why there is this difference?

Thanks for your work!

[2017-02-13 20:17] jods4 commented on #8
Indeed I should probably change my demos...

What happens is that in a webpack build with the new `AureliaPlugin`, it does not actually matter where `PLATFORM.moduleName` comes from. It is completely erased during build.

In principle, you should import it from `aurelia-pal` and this is especially true if you distribute a library. `aurelia-pal` provides a default implementation that just returns i

[2017-02-13 20:17] #8 closed

[2017-02-13 23:29] krokofant commented on #8
Works amazingly! I didn't even know webpack 2 was released so this was a great intro 🌈

[2017-02-15 02:37] jpsala opened #9 "custom element not responding to changes in bind property"
Hi @jods4, I'm new to webpack and tried to convert one of your demos to es6, it's working fine except that the bindings in hello-tag are not working anymore, here is my webpack config:
[code]
Can you tell me what is wrong?

[2017-02-15 09:01] jods4 commented on #9
Looks ok to me.
Are you sure `@bindable` decorator is correctly transpiled by `es2015`, `stage-1`?
I transpile with Typescript nowadays but a quick look at this page https://babeljs.io/docs/plugins/preset-stage-2/ seems to indicate that decorators are currently disabled.

I have both working ES6 to ES5 (with TS) and pure ES6 samples in this repo, if that helps.

[2017-02-15 09:58] jods4 opened #10 "Named slots don't work?"
Posted by @ovi2 in aurelia/skeleton-navigation#714

I've start using it in my project, but I encountered a small problem. I have few components that are using named slots. Build get successfully, but I get an error at run time
Do I miss something or this is an issue?
I must specify that if unnamed slots are used this is working fine.

[code]

[2017-02-15 10:07] jods4 commented on #10
I don't see how this can be related to modules at all.

From your call stack, I suppose `this.target` is `null` on this line:
https://github.com/aurelia/templating/blob/master/src/html-behavior.js#L317

But I'm not sure why it could be.

@EisenbergEffect You know the inner workings of slots well, any idea what could cause this?

[2017-02-15 11:40] jpsala commented on #9
Thank you @jods4, you where offcourse wright, I missed:
[code]
:+1:

[2017-02-15 12:02] nmocruz commented on #10
@jods4  I'm getting this one to. It seams like is related to this.
https://github.com/aurelia/pal-browser/issues/17

[2017-02-15 12:17] #9 closed

[2017-02-15 12:22] jods4 commented on #10
It's exactly the same situation, error message and call stack indeed.

I'm going to close this issue and follow aurelia/pal-browser#17. It reproduces on JSPM so it may not be directly related to the build process. If the resolution is to adjust the JSPM build I'll adjust our webpack plugin accordingly.

[2017-02-15 12:22] #10 closed

[2017-02-17 09:43] jack4it opened #11 "The PreserveModuleNamePlugin doesn't play well with DllReferencePlugin"
I managed to put all core dependencies into a DLL bundle. But when generating the app bundle where the `DllReferencePlugin` is used, the logic in `PreserveModuleNamePlugin` runs into multiple issues, mainly due to the referenced modules are `DelegatedModule` instead of `NormalModule`, and miss the `resource` and `rawRequest` properties that the `PreserveModuleNamePlugin` expects. Any thoughts on h

[2017-02-17 09:49] jods4 commented on #11
Coincidentally this was reported to me yesterday by another user. And I had a long brainstorm about it.

Right now, DLL bundle don't really work.
Well, static imports work.
There's a bug but I could easily make Aurelia imports from your app -> dll bundle work.

But the hard part is that internal Aurelia dependencies (dll -> dll) won't work and this requires complex changes to  `aurelia-loader-webp

[2017-02-17 11:05] jack4it commented on #11
I worked around the error in the PreserveModuleNamePlugin via a debugger, got the bundling itself work. However, the browser then reported a module from the dll is not found. This is from the loader logic. Are these all about the app->dll imports you mentioned?

Do u have a sample scenario of dll->dll? Would love to understand more and potentially help in the future

[2017-02-17 13:41] jods4 opened #12 "PreserveNameModule crash on scoped modules"
For example `@intogrey/aurelia-draggable`.
CC @Vheissu

[2017-02-17 21:32] Vheissu commented on #12
I'll see if I can find out what's going in as well. Not sure how that resolution logic works. Theoretically it seems like the path is being normalized and part of that step is to strip put slashes.

[2017-02-17 22:01] jods4 commented on #11
The hard problem here is that DLL have their own webpack context. They basically create a global variable that is it's own `__webpack_require__`. `aurelia-loader` is only aware of the main one (your app bundle).

Consider a library `aurelia-grid`. It contains `index.js`, which does `.globalResources` on `grid.js`.
Assuming the library makes use of `PLATFORM.moduleName`, you'll end up with 2 module

[2017-02-17 22:05] jods4 commented on #12
I know what happens, it's no biggie to fix.

[2017-02-18 02:19] jods4 commented on #12
famous last words.

Anyway, scoped modules should work now. Please re-open this issue if it doesn't work for you.

[2017-02-18 02:19] #12 closed

[2017-02-18 02:22] jods4 commented on #11
For what is worth, `app -> dll` dependencies should be fixed.
So loading stuff from DLL will work, but you will still get failures at runtime if the contents of DLL have intra-DLL dynamic dependencies.

For example:
- using `aurelia-pal-browser` from a DLL should be ok.
- using `aurelia-templating-resources` won't work.

That's _some_ progress.
As explained above the second half is harder and need

[2017-02-18 02:45] jack4it commented on #11
Cool, where can I see the fix and/or get the latest bits and try them out? Thanks for the quick turnaround.

[2017-02-18 12:33] jods4 commented on #11
The `aurelia-webpack-plugin#v2.0` branch was updated.

[2017-02-18 19:18] jods4 commented on #11
I did some research today. It's even worse than I thought.

When `aurelia-loader` is inside a DLL (which is what people are typically trying to do with a `vendor.js` DLL), it only has access to the `__webpack_require__` that lives inside the DLL. Webpack spills absolutely nothing in the global scope.

So, even though your app is in the main bundle and could in theory be hacked to have access to ev

[2017-02-18 20:23] EisenbergEffect commented on #11
What is a DLL bundle? Are we talking about a .NET or Native Windows dynamic, link library here?

[2017-02-18 23:56] jods4 commented on #11
@EisenbergEffect No, it also refers to a webpack library, i.e. some code that has been built separately.
It's not just about multiple files, but distinct compilation units.

Some people use webpack's `DllPlugin` to create a bundle of all their static libs (including Aurelia) in one compilation pass.

They then only compile their own code, bringing in the pre-compiled libs with `DllReferencePlugin`

[2017-02-19 09:26] jack4it commented on #11
With this hack `PLATFORM.moduleName("aurelia-templating-resources/compose");` for the list of core dependencies specified in my app entry main.ts file. I have made this work. I can't believe this :) But do let me know if you want to see my full config(s) for potential reference. Thanks for researching on this and any crazy ideas trying to make this happen. Dll/DllReference is sort of a must have f

[2017-02-21 01:16] jods4 commented on #11
Good news, I have a proof of concept that works. I should be able to pull this off.

[2017-02-21 03:09] jack4it commented on #11
Awesome!

[2017-02-26 20:25] jods4 commented on #11
OK I finally managed to get everything working properly. Don't ask, just assume it's ✨ _magic_ ✨ 😣

@jack4it I would appreciate if you could try it.
There's some information here, although there's not much required:
https://github.com/jods4/aurelia-webpack-build/wiki/Using-Webpack-DLL
⚠️ **Until the next release of `aurelia-bootstrapper` there is one manual step though, please look at that page.**

[2017-02-26 20:25] #11 closed

[2017-02-27 20:33] jack4it commented on #11
Hey @jods4, here is an error I just got after a fresh npm install and changing the configs as suggested in your wiki page. Let me know if you want to see my config details. I can pass that over an email or gitter 1:1

[code]

[2017-02-27 21:01] jods4 commented on #11
just to be sure if this is something weird or something "expectable", can you tell me what the `module` is?

[2017-02-27 22:01] jods4 commented on #11
I did some webpack source code inspection. Seems to me that the only way `meta` could be `null` is if your module is in error (check `module.error` and `module.errors`). Doesn't mean crashing is a good thing to do but would explain why.

If you can confirm I should be able to fix that easily.

[2017-02-27 22:16] phinett commented on #11
Also getting the same error as jack4it, i am trying to load aurelia-dialog.

I had to add the following to my webpack config file, not sure if anything else is required?

new ModuleDependenciesPlugin({
            "aurelia-dialog": [ "./ai-dialog", "ai-dialog-header"]
         }),

[2017-02-27 22:21] jods4 commented on #11
@phinett not sure either but if you fully test out `aurelia-dialog` let me know please. It's one of the few "core" aurelia libs that have not been approved with the new webpack plugins yet.

Back to the initial issue: any idea why `module.meta` was null?
- was the module in error (check `module.error` and `module.errors`)?
- otherwise what kind of module was it?

Did adding the `aurelia-dialog` de

[2017-02-27 22:35] phinett commented on #11
Sorry no adding the dependencies didn't fix the issue that was something else i was having trouble with, most probably irrelevant to this issue actually so ignore that.

With aurelia-dialog i am now getting this error when compiling with webpack:
module.meta["aurelia-id"] = id = id.replace(/\\/g, "/");
Cannot set property aurelia-id of null

I am not sure where to check module.error / module.error

[2017-02-27 22:40] jods4 commented on #11
you'd need to debug your build for that or possibly add a console.dir right here.

[2017-02-27 23:16] jack4it commented on #11
Here is a screenshot of the error. It's breaking on a module with id "tslib/tslib.es6.html". I'm using this TypeScript library to reduce the TS transpilation size. In my other repo where I have a workaround to make DLL/Reference work, without this fresh npm install, this error/warning also presents but doesn't break PreserveModuleNamePlugin. The warning there is something like this:

[code]

![ima

[2017-02-27 23:27] jods4 commented on #11
ok I get it.
There's an error no this module so this is why `meta` is null. I'm going to fix it.

There's another issue here that I'm very unhappy about but I need some time to reflect upon it.

[2017-02-27 23:30] jods4 commented on #11
I pushed the fix for the compiler crash.

[2017-02-27 23:49] jods4 commented on #11
@jack4it and a workaround for your tslib problem is now pushed on the v2.0 branch as well.

[2017-02-28 01:50] jack4it commented on #11
All right, cool, now the bundling works. Awesome. One minor thing is that, the DLLRef plugin options allow `manifest` to be just a path string instead of having to be a JSON object. On line 113 of `AureliaPlugin.js`, it will throw in the path string case. Other than that, everything works well at this point. Thanks!

[2017-02-28 10:16] jods4 commented on #11
@jack4it I'll have a look.

[2017-03-05 03:26] jpsala opened #13 "deleted"

[2017-03-05 04:47] jpsala commented on #13
I think the previous issue is not there anymore, now I'm getting:
```Uncaught (in promise) Error: Failed loading required CSS file: app_and_admin.css```
when I do ```  <require from='./app_and_admin.css'></require>```

[2017-03-05 05:46] #13 closed

[2017-03-05 12:00] code-chris opened #14 "No view model found in module "App""
Hi,
I'm currently trying to migrate my application to the new Aurelia/Webpack stack. I resolved a few issues with small code changes and your great docs. But now, I don't know what to do:

I get this exception on app startup:
[code]

The configuration of the AureliaPlugin in my `webpack.config.js`:
[code]

I executed webpack with `--display-modules` and I saw, that several modules (including App)

[2017-03-05 12:04] jods4 commented on #14
[code]
That's bad. I don't know why it isn't but the second module should be called `App.html`.
Can you share your project or at least your complete `webpack.config.js`?

Unrelated: `aureliaApp` is ignored when using `includeAll`.

[2017-03-05 12:10] ckotzbauer commented on #14
Of course: https://gist.github.com/code-chris/8ff2f47180490776f2a682dd84e059d1

[2017-03-05 12:24] jods4 commented on #14
Unrelated as well: if you use the latest Aurelia bits you don't need the `coreDeps` plugin anymore.

The problem is `resolve.extensions: ['.ts', '.js', '.scss', '.css', '.html']`.
This tells webpack to automatically add those extensions (in order) when trying to resolve a module name.
`AureliaPlugin` uses this info to normalize names by removing the default extensions.
Because both `.html` and `.t

[2017-03-05 12:30] ckotzbauer commented on #14
There is no reason for this. This was an old relict. I removed the coreDeps and the html, scss and css extensions and it seems to work ;). Thanks for your investigation and your great work!!

[2017-03-05 12:31] jods4 commented on #14
No problem.

[2017-03-05 12:31] #14 closed

[2017-03-07 10:01] beatsm opened #15 "HMR in AspNet demo"
Hi

Had to change the public path to publicPath: "/dist/", to allow HMR to work otherwise I get this error
GET http://localhost:4163/dist/2cf23054775f13d85b9e.hot-update.json 404 (Not Found)

Thanks for the hard work.

Regards

[2017-03-07 20:19] jods4 commented on #15
Indeed, thanks.

[2017-03-07 20:19] #15 closed

[2017-03-08 02:53] gregoryagu opened #16 "Error when running webpack"
I am trying to get the aspnetcore sample to work.

When I run "webpack" on the command line, it gives me this message:

"Unexpected token" and points to the first brace in this line:

`const { AureliaPlugin } = require("aurelia-webpack-plugin");`

If I remove the braces, it does not give this error, but it then gives an error on this line and points to the "=" in AureliaPrlugin.js:

`constructor(o

[2017-03-08 10:12] jods4 commented on #16
You need a release of NodeJS that supports ES6, basically Node >= 6.

[2017-03-08 10:12] #16 closed

[2017-03-08 11:30] gregoryagu commented on #16
Thank you, that resolved it.

[2017-03-10 13:58] erdoll opened #17 "Fix publicPath in 03 demo and other suggestions"
Joel,

Thank you very much for putting this documentation and demonstrations together.

I have been waiting for this release of aurelia webpack 2.0 before starting a conversion of my projects from systemjs to webpack.

I am going through your demonstrations.  They all work fine using your npm run web script.  However, when I run webpack from command line, then run a web server (I am using http-ser

[2017-03-10 14:05] jods4 commented on #17
Thanks for your suggestions.

I will change all `publicPath` to `/dist/`, this indeed makes a difference in some use-cases. I already changed it in the ASPNET demo to enable HMR.

The second parameter to `moduleName` is introduced here:
https://github.com/jods4/aurelia-webpack-build/wiki/Managing-dependencies#code-splitting

Maybe you don't have the latest `aurelia-framework` release (1.1.0) becau

[2017-03-10 15:06] erdoll commented on #17
Missed that section on the 2nd parameter to moduleName.

Delete of node_modules and fresh npm install cleared up the intellisense problem. npm must have been playing tricks on me.

[2017-03-10 17:33] jods4 commented on #17
I have updated all demos to use `publicPath: '/dist/'` instead of just `dist`.

[2017-03-10 17:33] #17 closed

[2017-03-10 18:51] jods4 commented on #4
I'm going to close this for now. If we get some feedback on `aurelia/webpack-plugin` then we can reconsider our options.

The idea was doing a processing similar to webpack when encountering, for example
`<compose view="dogs/${breed}">`
and pro-actively include everything in `dogs` folder.

I think this is non-essential as a better approach would probably be to use `PLATFORM.moduleName` wherever `

[2017-03-10 18:51] #4 closed

[2017-03-10 18:57] jods4 commented on #3
Now that the plugin code has moved to `aurelia/webpack-plugin` I'm going to close this.
I won't re-open there right now, let's wait for some feedback.

As I recall one demand was being able to create eager chunks from `moduleName` (split points create lazy chunks).
This can be served in many ways, including `DllPlugin`, which has long-term caching benefits, or `CommonsPlugin`. There are many plugi

[2017-03-10 18:57] #3 closed

[2017-03-11 00:14] lares83 opened #18 "aurelia-i18n doens't work"
I have an issue with adding aurelia-i18n to new webpack configuration:
I use webpack config from demo `04-Small_ES6_build`
In my main.ts I added

[code]

and in console I receive this error
`Error: Unable to find module with ID: aurelia-i18n/t`

[2017-03-11 06:19] ckotzbauer commented on #18
This has been fixed with https://github.com/aurelia/i18n/pull/202. But it's not released to npm yet. The only quick solution is to clone and build the i18n repo (the changes have to be in the dist folder) and install it with npm from your file system...

[2017-03-11 10:48] jods4 commented on #18
In the meantime, the other quick solution is to use
[code]

[2017-03-11 10:48] #18 closed

[2017-03-11 11:08] NunoCruzSW opened #19 "Fail to bundle vendor.css using aurelia plugin and extract-text-webpack-plugin"
aurelia plugin and extract-text-webpack-plugin don't  well together

[code]

this will make the build fail
[code]

is looking like is missing an handler to css, but if we remove the aurelia plugin from the list it start to work

[2017-03-11 13:51] jods4 commented on #19
There is nothing specific about CSS in `AureliaPlugin`, so I don't see how that would be related.
Only thing that comes to mind: do you use `<require>` for your CSS (directly, or indirectly, e.g. in 3rd party libs)? Because that would obviously not work.

[2017-03-11 14:25] NunoCruzSW commented on #19
no, to reproduce this I cloned this repo, move to demos\05-DllReferencePlugin, type npm install bootstrap and changed the vendor config as you see.  I just changed the webpack config, nothing else.

[2017-03-11 14:32] jods4 commented on #19
I fail to see how this can be related to `AureliaPlugin` then.
`bootstrap/dist/css/bootstrap.css` is in your entry point, webpack resolves it but fails to parse. Seems like a loader config issue.

[2017-03-11 14:55] lares83 commented on #18
@jods4 it works thanks for your help :)

[2017-03-11 14:58] NunoCruzSW commented on #19
maybe isn't AureliaPlugin, but is strange because adding noHtmlLoader: true make the error stop'

[2017-03-11 15:10] jods4 commented on #19
`noHtmlLoader` avoids the plugin adding `html-resource-loader` for all `.html` files:
https://github.com/aurelia/webpack-plugin/blob/master/src/AureliaPlugin.ts#L163
In itself, this has no impact on CSS files, obviously. That loader just looks for stuff like `<require>` and adds more dependencies.

Wild guesses:
- One HTML file parsed by `html-resource-loader` adds more dependencies (e.g. from a `

[2017-03-11 17:35] NunoCruzSW commented on #19
I gonna close this, it must be the extract-text-webpack-plugin doing something wrong

[2017-03-11 17:35] #19 closed

[2017-03-12 09:23] nashwaan opened #20 "Doesn't work in IE11"
Hi jods4,

Thanks for this great work to simplify Aurelia + Webpack setup.

I tested this and it doesn't work on IE11.

The error in the console says `SCRIPT1014: Invalid character`.
It doesn't recognize ES6 string template, the ` character.
Is it because not transpiling from ES6 to ES5?

[2017-03-12 11:05] MeirionHughes commented on #20
I imagine you'll need to add on the babel loader after the ts-loader.

[2017-03-12 12:43] jods4 commented on #20
In the interest of keeping those minimal, none include a `Promise` polyfill, which is a requirement to run Aurelia on IE.

Add NPM package `es6-promise-promise` and then:
[code]

The error you mention is a syntax error, so I assume you tried `04-Small_ES6_Build`, which as the name says is an ES6 output, which won't work in IE.
All others are configured to transpile to ES5, so they should work in I

[2017-03-12 17:08] nashwaan commented on #20
Yes, I was trying `04-Small_ES6_Build` thinking this demo was for transpiling **from** ES6 to ES5. Now i understand that this demo is meant to **produce** ES6 code.

[2017-03-12 17:08] #20 closed

[2017-03-12 19:44] jods4 commented on #20
Yes, it's actually the only one that does _not_ transpile to ES5. All others are using TypeScript with `es5` output.

[2017-03-12 19:45] jods4 commented on #20
I use it in my experiments to check how small the output can be made. ES6 code is smaller than ES5.

[2017-03-13 09:16] arnonuem opened #21 "Wrong dependency in documentation"
On the wiki page the documentation says 'aurelia-webpack-loader@2.1.0'.
NPM is listing this module as 'aurelia-loader-webpack - v2.1.0'.

Please update the documentation from 'aurelia-webpack-loader@2.1.0' to 'aurelia-loader-webpack@2.1.0'

[2017-03-13 10:31] jods4 commented on #21
Good catch.
Actually I'm going to remove it, because you don't need the explicit dependency anymore. `aurelia-webpack-plugin` manages that for you now.

[2017-03-13 10:31] #21 closed

[2017-03-15 08:45] gbouteiller opened #22 "Pug templating"
Hello,
I'm trying to use the webpack plugin with pug templating.
So I've configured webpack :
[code]
`app.pug` is correctly added to my bundle but it seems that the bundle is looking for `app.html` moduleID. In the documentation, there is a `html-resources-loader` that is mentioned but I don't know where it is and if it is something I have to configure.
Thank you for your help and great work by th

[2017-03-15 10:43] jods4 commented on #22
In your build, you'll want to add `aurelia-webpack-plugin/html-requires-loader` between `html-loader` and `pug-html-loader`.

This loader parses your HTML and looks for `<require>`, `<compose view="" viewModel="">` to ensure their dependencies are included.

I don't think this is your problem, though.
More likely, you have not reconfigured the Aurelia _runtime_ to look for `.pug` instead of `.html

[2017-03-15 16:34] gbouteiller commented on #22
Thank you very much, it works! I didn't know about `ViewLocator.prototype.converOriginToViewUrl`.

[2017-03-15 16:34] #22 closed

[2017-03-16 00:49] jods4 commented on #19
@NunoCruzSW I found out what your problem is.
Use `module.rules` rather than `module.loaders` (it's the same option, just another name).
The latter is not in the new documentation and is only supported for compatibility with webpack 1.x.

What happens is that without `noHtmlLoader`, `AureliaPlugin` adds the loader to `module.rules`, which is now defined so `module.loaders` is completely ignored.

[2017-03-18 18:07] gregoryagu opened #23 "When using require to import css, app shows no content"
I have a small test app.

There is one css file called findme.css.

If I use `import "findme.css"`,  the app runs as usual and the css is found and embeded as expected.

If I then use the aurelia require syntax, the app builds and the css is found and embeded as expected, but at runtime, the app loads but nothing is displayed. The console shows the usual Aurelia startup messages.  The last message

[2017-03-18 18:13] jods4 commented on #23
Read this: https://github.com/jods4/aurelia-webpack-build/wiki/CSS%20doesn't%20load

[2017-03-18 18:15] gregoryagu commented on #23
Yes, have set my config to what it says there.

[2017-03-18 18:15] jods4 commented on #23
Your config looks rather good. Can you try to break on all exceptions in the debugger and catch whatever fails?
Without more details it's hard to guess what is wrong.

[2017-03-18 18:49] gregoryagu commented on #23
Well, I debugged and stepped through, but no errors are thrown.  For now, lets close.  I can give you a copy of the project, but it's aspnetcore/vs17.  But it's not a big concern.  I can use 'import...' for now and circle back later.

[2017-03-18 19:11] gregoryagu commented on #23
Here is a link to the project:

https://1drv.ms/u/s!AglOiHIUxc8ggbVkoq2pgghmuSFzWg

[2017-03-18 20:15] jods4 commented on #23
Are you sure you enabled "break on all exceptions" in your debugger?
I highly doubt everything goes without a hinch and produces no result at all.

I would have a look at it but I'd like a minimal repro or at least something I can easily start with webpack-dev-server.

One thought occuring to me: do you have `@import` in your CSS?

If there are no exceptions, it's worth having a look at the networ

[2017-03-19 14:35] gregoryagu commented on #23
I resolved this.  The issue is that I was using a self-closing tag.

Does not work
`<require from="css/findme.css"/>`

Works
`<require from="css/findme.css"><require/>`

[2017-03-19 14:35] #23 closed

[2017-03-19 15:17] gregoryagu opened #24 "Where do I find the ModuleDependenciesPlugin?"
I can't seem to find the ModuleDependenciesPlugin.

I have tried installing with npm, but it is not found.

A google search turns up nothing.

I want to use it like this:

[code]

How do I install this?

[2017-03-19 16:38] gregoryagu commented on #24
It's a part of the Aurelia Webpack plugin, so it can be imported with:

import { AureliaPlugin, ModuleDependenciesPlugin } from "aurelia-webpack-plugin";

[2017-03-19 16:38] #24 closed

[2017-03-19 17:08] jods4 commented on #23
Yeah you wrote it this way in your issue but I didn't pay attention close enough.
HTML is not XML and you can't self close tags, minus the exceptions documented in the HTML standard. That's why you have `<script></script>` as well.

[2017-03-19 17:55] gregoryagu commented on #23
Thanks Jods.

[2017-03-19 18:00] gregoryagu opened #25 "AutoInject seems to not work"
Starting from the aspnetcore sample, I add a test class, then import it with autoinject.  It compiles ok, but at runtime, the injection does not happen.

I can create the class manually, so it is getting compiled correctly. But through injection, it's always null.

(Note that in tsconfig.json, I comment out the "importHelpers" line, as there is a currently a TS issue with that.)

app.ts
[code]
The

[2017-03-19 18:22] jods4 commented on #25
I'm going to close this issue because it's unrelated to the webpack build.

From the code output I would say you don't have the `emitDecoratorMetadata` option set in TS.

[2017-03-19 18:22] #25 closed

[2017-03-19 18:25] gregoryagu commented on #25
Yes, you are correct.  Thank you very much.

[2017-03-19 23:10] gregoryagu opened #26 "Value Converter not found at runtime"
I have a value converter called DateFormat.

[code]
I have verified that this is found and included in the build file.

[code]

However, at runtime I get this error:

 `Unable to find module with ID: ./core/converters/date-format`

This is how it is used:

 `${controller.item.dueDate | dateFormat}`

Is there anything else I need to do?

[2017-03-19 23:19] jods4 commented on #26
Hard to say without more context but something very wrong is going on because
1. The module name was not preserved and changed to `207`
2. Exports where considered unused `/* unused harmony export DateFormatValueConverter */`

I suspect that you ES `import` this module somewhere else, which is why it ends up in the build.

I also suspect that `PLATFORM.moduleName` is not working properly for some

[2017-03-19 23:21] gregoryagu commented on #26
Your correct.  I had it imported as well, so I took that out.  See the updated information above. It is giving me a different error message now.

[2017-03-19 23:23] jods4 commented on #26
You should use absolute path `moduleName('core/...')`.
Relative path is used in `feature` or `plugin` configuration function. That's how Aurelia works <_>

(Generally speaking you should use absolute paths everywhere inside your own application)

[2017-03-19 23:23] #26 closed

[2017-03-19 23:32] gregoryagu commented on #26
Yes, that worked.

My conversion from system.js to webpack on a fairly major project is now complete.

Thank you for your hard work and support.

[2017-03-21 21:42] Vaccano opened #27 "Can't run the 03-Code_splits example"
when I run `webpack` on the 03-Code_splits example I get the following error:

...........^  (Dots added so that it will line up with the `{` symbol)

I went and updated the webpack.config.js file so that the line with the error reads:

`const AureliaPlugin = require("aurelia-webpack-plugin");`

But then I get another error:

    constructor(options = {}) {
........................................

[2017-03-22 00:29] jods4 commented on #27
You need Node 6+ to run this.

[2017-03-22 00:29] #27 closed

[2017-03-27 20:43] nashwaan opened #28 "How to use PLATFORM.moduleName with dynamic <compose>?"
Lets say a user can change the widgetName during application run from `calendar` to `meeting`.
If we do this, the browser gives this error `Error: Unable to find module with ID: meeting`

From my understanding, the following line will not tell webpack which module id to load as value of `widgetName` is not known during webpack compile time.
[code]

So, should I use `PLATFORM.moduleName()` with `co

[2017-03-27 21:52] jods4 commented on #28
The strings `calendar` and `meeting` have to exist somewhere in your code. That's where you should wrap them with `moduleName`.
Bonus: by doing so you also get compile-time validation that your module names actually exist.

[2017-03-28 02:55] nashwaan commented on #28
Any example on how to do this, please? (Note the module could be a pair of .js/.html, .js only or .html only)

[2017-03-28 04:14] nashwaan commented on #28
Initially, I thought I have to follow the [wiki](https://github.com/jods4/aurelia-webpack-build/wiki/Managing-dependencies):

But, this is what I did and it works:

[code]

Thanks alot @jods4 .

[2017-03-28 04:14] #28 closed

[2017-03-28 04:18] nashwaan commented on #28
I think adding explicit documentation about how to use `PLATFORM.moduleName()` for `<compose>` in the wiki will be helpful for other developers.

[2017-03-28 13:25] jods4 commented on #28
You should not use them randomly like that, but where they naturally happen.

You need to have somewhere in your code something similar to this:
[code]

I strongly advise you to use absolute names.

[2017-03-29 03:58] HamedFathi opened #29 "[ERROR] Cannot find name 'fetch' in '06-ASPNET'"
Hi

Thanks for your samples

In '06-ASPNET' When I run the project, I have an error

![qqqq](https://cloud.githubusercontent.com/assets/8418700/24437956/8295fb22-1459-11e7-9432-c03a3d0c4748.png)

Can you help me how to fix it ?

[2017-03-29 04:18] HamedFathi commented on #29
I found the problem, VS 2017 must have latest Typescript 2.2.2.

fetch() api does not work with previous TS versions so I run the sample with dotnet run command instead of VS 2017.

[2017-03-29 04:18] #29 closed

[2017-03-30 17:48] erdoll commented on #28
I am facing the same issue as @nashwaan.

I am databinding to a view name that is not a literal string like 'calender', but a string retrieved from a web service at runtime.

Your example, of having the

     PLATFORM.moduleName('./meeting');

used somewhere in the code is not valid, as the I never have the module designated by a string anywhere in my code.

I used the workaround of @nashwaan abov

[2017-03-30 18:53] jods4 commented on #28
@erdoll In that case, rather than littering your code with strings that don't exist I would rather use `ModuleDependenciesPlugin` (for a handful) or `GlobDependenciesPlugin` (for batches) in your webpack config to handle the 100% dynamic case at runtime.

Choose a module where it makes sense to attach the dependencies (probably where the server call happens), and if for example you have all the dy

[2017-03-30 20:33] erdoll commented on #28
GlobDependenciesPlugin was just what I needed.

[2017-03-31 13:42] sarvagayatri opened #30 "How to generate dist for build bundle ?"
Hi,
i am checking the 03-Code_splits, for code split for my app, how to generate dist for that app ?

[2017-03-31 13:49] jods4 commented on #30
`yarn run webpack`

[2017-03-31 13:56] sarvagayatri commented on #30
ok thQ

[2017-04-03 19:05] #30 closed

[2017-04-06 15:37] nashwaan opened #31 "Need a demo for unit testing"
Hi @jods4,

Thank you for providing these excellent demos that clearly show what is minimally needed to achieve each objective.

Can you provide one more demo that shows how to setup unit testing using [StageComponent](http://aurelia.io/hub.html#/doc/article/aurelia/testing/latest/testing-components) (based on Jasmine)?

[2017-04-06 21:38] jods4 commented on #31
I don't think that I will.
I want to keep these demos short and minimal.

Testing has lots of possible choices like what framework do you use (e.g. Jasmine), what runner do you use (e.g. Karma); do you do Unit Testing, End-to-end, or...?

Maybe I'll do one basic testing demo one day, but otherwise I think you should wait for official @niieani's update skeleton, which includes everything including

[2017-04-06 21:38] #31 closed

[2017-04-08 18:37] HamedFathi opened #32 "[Question] I extended your 06-ASPNET sample with Aurelia Contacts Manager tutorial"
Hi

This is just a question and my problem so I hope you can guide me.

As you know, this is one of the best samples to beginning journey
[http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-manager-tutorial](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-manager-tutorial)

I found a source for that
[https://github.com/kristianmandrup/aurelia-contacts

[2017-04-08 19:28] jods4 commented on #32
Please start here:
https://github.com/jods4/aurelia-webpack-build/wiki/Getting%20started

You need to make Webpack aware of Aurelia loading modules at runtime through `aurelia-loader`.
You'll need to modify the code to include a few `PLATFORM.moduleName()` calls in order to do that.

[2017-04-08 19:28] #32 closed

[2017-04-08 19:43] HamedFathi commented on #32
@jods4

you are awesome thanks , should be like this
`PLATFORM.moduleName('no-selection')`

[2017-04-08 19:58] jods4 commented on #32
@HamedFathi Have you read the whole thing?
I can go into more details if there are unclear parts, but I don't want to repeat all information here.

Briefly, wherever there is a string in your code that represents a module that Aurelia will load at runtime, you need to wrap it with `PLATFORM.moduleName()`.

So I expect that you have `.plugin("aurelia-testing")` somewhere?

Also `./resources/index`

[2017-04-08 20:24] HamedFathi commented on #32
@jods4

Thank you so much

first I commented that and project ran perfectly but Yes I have a problem with "aurelia-testing" .

[code]

PLATFORM.moduleName('aurelia-testing') seems work but I have an error still

`Error: Unable to find module with ID: aurelia-testing/compile-spy`

[2017-04-08 21:04] niieani commented on #31
The skeleton with unit testing is ready: https://github.com/aurelia/skeleton-navigation/pull/714.

[2017-04-08 21:45] jods4 commented on #32
That's because `aurelia-testing` doesn't properly document its own internal dependencies (yet).

Until it does you'll need to work-around it by adding
[code]
to your Webpack plugins.

More info here:
https://github.com/jods4/aurelia-webpack-build/wiki/Managing-dependencies#moduledependenciesplugin

[2017-04-09 04:07] HamedFathi commented on #32
@jods4

Yes it works
[code]

`Failed loading required CSS file: resources/elements/nprogress.css`
As you explaind in here
[https://github.com/jods4/aurelia-webpack-build/wiki/CSS-doesn't-load](https://github.com/jods4/aurelia-webpack-build/wiki/CSS-doesn't-load)

for some css files works  eg I dont have problem with bootstrap.css
but seems
`@noView(['./nprogress.css'])
`
or even
[code]
has problem

[2017-04-09 10:00] jods4 commented on #32
Passing a CSS file to `noView` makes it a local resource, just like when you pass it to `<require>`. So as explained in the wiki, Aurelia expects this to be just your CSS string, no `style-loader`.

The problem is that the loader rule you've copied from the wiki assumes that every dependency from an `.html` file is `<require>`, hence `css-loader`; and every dep. from a `.ts` file is `import` hence

[2017-04-09 12:39] HamedFathi commented on #32
@jods4

You are rock ! thank you so much.

[2017-04-12 08:46] nashwaan opened #33 "v2.0.0-rc.2 causes 'Out of stack space' error in IE"
Hi @jods4

The latest version of `aurelia-webpack-plugin` which is `v2.0.0-rc.2` prevents Aurelia app from running in IE.

I am using [super-minimal-aurelia](https://github.com/nathanchase/super-minimal-aurelia) setup created by @nathanchase. Installing this repo will work out of the box. But if I replace this line in `package.json`:
[code]
with this line:
[code]

And do clean installation, the ap

[2017-04-12 08:55] jods4 commented on #33
No idea, that would require debugging.

I'm pretty confident that it's not caused by the Webpack plugin directly. It has very little impact on the runtime (if any) and the `v2.0-rc2` branch is exactly what was published in version `2.0.0-rc.2` so that should not make a difference.

My first guess is that another package was upgraded behind your back.

Can you post the top of the stack when it over

[2017-04-12 15:21] nashwaan commented on #33
I have re-downloaded [super-minimal-aurelia](https://github.com/nathanchase/super-minimal-aurelia)  and before typing `npm install`, I changed `"git://github.com/aurelia/webpack-plugin.git#v2.0-rc2"` to `"^2.0.0-rc.2"`  and then did `npm install`. But then I still get same errors.

What I find it really strange is why it works perfectly when installing `aurelia-webpack-plugin` from  `"git://github

[2017-04-12 15:39] ckotzbauer commented on #33
@nashwaan Can you make a `npm shrinkwrap --dev` in both situations when the app works, and when it does not and diff the two `npm-shrinkwrap.json` files?

[2017-04-12 15:47] jods4 commented on #33
This is `aurelia-polyfills`.
Can you check which version you have in both working and non-working setups?

[2017-04-12 15:51] jods4 commented on #33
What confuses me here is that `createCollection` has not changed for a long time.
How can the `if` evaluate to `true`?
The `new Collection(a)` call would definitely have `this && this.constructor === Collection`? What am I missing here?

[2017-04-12 16:28] nashwaan commented on #33
@code-chris , diff of `npm-shrinkwrap.json` yeilds the following:

`npm-shrinkwrap.json` when installing `aurelia-webpack-plugin` from **github** (app working ok):
[code]

`npm-shrinkwrap.json` when installing `aurelia-webpack-plugin` from **npm** (app not working):
[code]
______

@jods4 , `aurelia-polyfills` is not used here. `babel-polyfil` is used in this project. Note the versions of all other

[2017-04-12 16:30] jods4 commented on #33
`aurelia-polyfills` is always used, it's loaded by `aurelia-bootstrapper`.

[2017-04-12 16:54] nashwaan commented on #33
@jods4

some content of `node_modules\aurelia-polyfills\package.json` (app working ok):
[code]

some content of `node_modules\aurelia-polyfills\package.json` (app not working):
[code]

[2017-04-12 18:24] jods4 commented on #33
Really not sure what happens here.

Maybe it would help to better understand the cause of the problem.
As I wrote above, I don't see how `new X()` can possibly satisfy `if (!this || this.constructor !== X)`.

The other track to investigate is, based on your answer:

npm uninstall --save-dev aurelia-webpack-plugin
npm install --save-dev aurelia-webpack-plugin@2.0.0-rc.2
Now I don't get errors! The

[2017-04-13 06:40] nashwaan commented on #33
After various attempts and experimentation, it turned out that `babel-polyfill` was causing all the issues here (although I still don't understand why it worked when installing aurelia-webpack-plugin from github but not from npm). I just removed it completely from [super-minimal-aurelia](https://github.com/nathanchase/super-minimal-aurelia) and everything works fine now:

[code]

I have submitted

[2017-04-13 06:40] #33 closed

[2017-04-14 06:07] HamedFathi commented on #32
@jods4

Hi
Sorry, I have problem with referencing assets again !!!

I use ASP.NET Core and I have 'wwwroot' folder
![untitled](https://cloud.githubusercontent.com/assets/8418700/25034696/972d8266-20fd-11e7-9612-e2a590fab036.png)

![2](https://cloud.githubusercontent.com/assets/8418700/25034794/5cfbfcac-20fe-11e7-9c3e-7904e76f1ae4.png)

**Error**
[code]

I referenced css,js assets in two ways

1. f

[2017-04-14 10:50] nmocruz commented on #32
you should not use wwwroot, it's the folder from where dotnet is serving files. So if the browser wants to get access to something must use a path after wwwroot/. files or folders at same level are not served.

webapck will resolve the clientApp and node_module names and pack them, so you can refer a relative path to wwwroot or module name in node_modules.

If you want to keep css files outside th

[2017-04-14 10:52] jods4 commented on #32
I briefly touch on this error here:
https://github.com/jods4/aurelia-webpack-build/wiki/Debugging-missing-modules#using-webpack-alias-config

TL;DR: because of how module names are used by `aurelia-loader`, you can't refer to a module that is outside of your Webpack `resolve.modules` config, which you do by climbing out of `ClientApp` with `..`.

For the sake of explanation -- **but read below** -

[2017-04-14 10:53] nmocruz commented on #32
you can also use https://gitter.im/aurelia/Discuss to kind of questions

[2017-04-14 13:57] nashwaan commented on #31
@niieani The new skeleton has two methods of doing unit testing: jest and karma. I was looking for an example of running karma (browser based) test using StageComponent.
The `welcome.test.js` file does this but it is for jest system.

Can you provide a similar example `welcome.spec.js` that is compiled by webpack and runs on the browser?

[2017-04-22 16:50] dweber019 opened #34 "Code splitting only one route"
@jods4 Is it true that I can't code split only a few specific routes?

Example from https://github.com/jods4/aurelia-webpack-build/blob/master/demos/03-Code_splits/src/app.ts#L11.

I can do:
[code]
All routes have a chunk name.

But I can't do:
[code]
See the missing second parameter in `page-hello`.

My current behavior/issue?:
- If I have all route configs with a chunk name everything works as e

[2017-04-22 20:45] jods4 commented on #34
This is not the behavior I'm seeing.

Using the 03 demo, modified like you suggest I'm getting this output:
[code]

[2017-04-22 21:35] dweber019 commented on #34
Hmmm... probably an issue with the new skeleton-typescript-webpack.
When I have this config:
[code]
I get this output in Webpack:
[code]
As you can see no `welcome` and `user` chunk file.

Also when I do a check in a browser there are no addition chunks loaded when switching to the users route.

[2017-04-23 10:25] jods4 commented on #34
You should use Webpack to find out where your modules are and what is depending upon them.

From the output I can guess you have a complicated config. Note that creating a dependency to a new chunk does not guarantee in itself that you'll have a separate file in the end:
- From the output I guess your using `CommonsChunkPlugin`, which is explicitly moving modules around in other chunks (if they ar

[2017-04-23 13:10] dweber019 commented on #34
Ok will do a deep dive into the skeleton-navigation regarding this issue. It would be nice if the official skeleton of Aurelia would support this out of the box, so I'll have a look.

My webpack config ca be viewed here https://github.com/dweber019/skeleton-navigation-lazy-routes. It's a fork of the offical skeleton-navigation from Aurelia, based on the latest master with a little fix I made an co

[2017-04-23 14:19] jods4 commented on #34
Just to be sure: did you notice the child router?

[2017-04-23 21:20] dweber019 commented on #34
I got it.

It's fully working.

The `child-router` has a router config too and in this config there are references to the `users` and `welcome` module. So as long as the `child-router` isn't chunked, no other module used in the `child-router` router config is chunked too.

Makes sense ;)

[2017-04-23 21:20] #34 closed

[2017-04-27 22:17] niieani commented on #31
@nashwaan I will see what I can do, as soon as I have some time.

[2017-04-28 05:44] nashwaan commented on #31
I am sure you can fix this @niieani. I believe @jods4 can provide invaluable help into getting `StageComponent` to work in webpack as he did a great job in the `aurelia-webpack-plugin`.

I feel that if the two of you can allocate some time together into this issue, then it will be fixed in no time!

By the way, looking at how the new skeleton emerged, it is nothing short of a **masterpiece**: vers

[2017-05-07 12:20] nashwaan commented on #31
Thanks @niieani for solving this long pending issue. I see that you used this solution in the pretest:

[code]

Although I initially found it weird to borrow the functionality from `jest` to make it work in the browser, but it did the trick quite nicely.

Thanks a million for this!
😊😊😊😊😊😊

[2017-05-11 07:42] jack4it opened #35 "What about multi Aurelia apps under /src or a nested app e.g. /src/nested"
Hey, I'm seeing a scenario that one could have a nested Aurelia app for example **/src/nested/main.js** along the main app **/src/main.js**. Regarding the webpack config, how would the **entry** config look like? So far, the most popular way of specifying an entry is simply like `entry: { main: "aurelia-bootstrapper" }`. In this nested app case, how would we define the entry for it? How we can ins

[2017-05-11 07:57] jods4 commented on #35
The simplest solution is to use 2 separate webpack.config / compilations.

If you don't want to do that, there's some specific configuration steps you have to take,
I haven't tried myself but the following should work:

1. Make your entry points based on this model:
[code]

2. Avoid doing more than that in this file because manipulating Aurelia before it's initialized leads to problems.
Of course

[2017-05-11 08:07] jack4it commented on #35
Thanks for the FLASH response, @jods4 rocks!
I tried and chose the two compilations approach. I kept the entry point for the nested app simply as: nested: "aurelia-bootstrapper", in the AureliaPlugin options, i give it an app name like nested/main, also in the app.html. The last trick seems to be that in the nested main.js, the setRoot call has to use the same nested/app as well.
Hope this helps f

[2017-05-11 14:19] jods4 commented on #35
Shall we close this issue then?

[2017-05-11 18:54] #35 closed

[2017-05-19 08:37] netrounds-joakim commented on #35
@jods4  Hmm so if I simply create 2 compilations in this case, there's no way to share common code between the those right? No way to use `CommonsChunksPlugin` and such things?

Because I think I will go with the 2 compilations solution for now, until I understand these things better.

Also are there any plans to add multiple entry points support like this to work with the plugin? As I understand

[2017-05-19 09:39] jods4 commented on #35
@netrounds-joakim You are correct, the plugin API is designed for single entry point (SPA) first.
With steps from that other comment, I see no reason why multiple entry points would not work, but it's hard to figure that out on your own without a deep understanding of how Aurelia+Webpack+the plugin work together.
If this is common enough, maybe I should think about adding simpler support for multi

[2017-05-19 11:25] netrounds-joakim commented on #35
@jods4 thank you for the quick reply :)

You have on vote from me at least! And maybe @jack4it ?

Ok yea I assumed something like that would be possible so then I know that plan of mine will work.

Ok thank you for that pointer. I had seen mentions of DLL but did not fully understand what they were for, but that makes sense.

Thanks!

[2017-05-19 11:58] jods4 commented on #35
Shortly, a Webpack "DLL" is a separate Webpack compilation unit that produces a re-usable bundle that other Webpack compilations can reference.

Without this, each Webpack compilation is totally autonomous and distinct.

[2017-05-19 13:07] netrounds-joakim commented on #35
Ok thanks for the clarification :)

[2017-07-21 22:53] m0ngr31 opened #36 "Dynamic <compose> tutorial?"
This is similar to #28, but mine looks similar to this: `<compose view="../patterns/${patterns}.html"></compose>`. How do I do PLATFORM.moduleName on a dynamic HTML file that has no ViewModel to go with it?

I tried using various version of this: `new GlobDependenciesPlugin({'pattern-index': './src/apps/pattern-library/patterns/**/*.html'}),`, but I can't get it working yet. What am I doing wrong?

[2017-07-21 23:16] jods4 commented on #36
The fact that it's `.html` or `.js` doesn't change anything as far as the build is concerned. The module just has to be referenced somehow.

As in previous answers I would like to first suggest binding to the full module name if that's reasonable. That means the module name actually appears somewhere in your code and you can wrap that with `moduleName`.

With rare exceptions, I also recommend usin

[2017-07-21 23:25] m0ngr31 commented on #36
Unfortunately, that isn't something viable otherwise I'd do that.

It seems to get the right path: `Unhandled rejection Error: Unable to find module with ID: apps/pattern-library/patterns/intro/patterns.html` I just need to get it as a module somehow.

I did try without the `.`, but the same result. I'm assuming it's something else stupid I'm doing.

[2017-07-21 23:29] jods4 commented on #36
Arf I know why.
`pattern-index` is supposed to be the module id that depends on those globs.
Clearly that's not correct.

Probably more like `apps/pattern-library/patterns/pattern-index` or something similar.

[2017-07-21 23:35] m0ngr31 commented on #36
Sorry, I'm pretty new to webpack, so I'm kind of dense.
Same error as before, but just with a different name:

[code]

[2017-07-22 15:22] jods4 commented on #36
Since I'm not seeing your config, code structure and file names you need to adjust the names when I guess wrong.

`GlobDependenciesPlugin` adds extra dependencies to the graph that Webpack builds to pack your app.

Specifically, its parameter is an object whose:
- keys are modules that must have additional dependencies, e.g. can be the view with `<compose>`;
- values are glob patterns to find the

[2017-07-23 16:25] michaelbull opened #37 "Building an Aurelia plugin w/ webpack"
Hi, I'm trying to build an Aurelia plugin with webpack as the build system.

Looking at the plugin skeletons from other projects, they only export their [built src](https://github.com/SpoonX/aurelia-plugin-skeleton/blob/master/dist/native-modules/aurelia-plugin-skeleton.js) and not the entirety of Aurelia. All of the webpack build examples I've seen use `entry: 'aurelia-bootstrapper'`, which means

[2017-07-24 16:17] m0ngr31 commented on #36
Hopefully this can help you get a better idea:
![image](https://user-images.githubusercontent.com/1045977/28533075-1052bcba-7059-11e7-87ec-37ef7f41eb13.png)

So it looks like this:
-src
--apps
---pattern-library
---(other-folders)
-webpack.config.js

[2017-07-24 18:19] jods4 commented on #36
Not completely but I will give it a try anyway:
` { "apps/pattern-library/app.html": "src/apps/pattern-library/patterns/**/*.html" }`

[2017-07-24 18:38] m0ngr31 commented on #36
So if I manually do this: `new GlobDependenciesPlugin({'apps/pattern-library/patterns/intro/patterns.html': 'src/apps/pattern-library/patterns/intro/patterns.html'}),` it works fine, but as soon as I try to do the wildcard HTML it causes issues. If there a different/better way to accomplish that?

[2017-07-24 19:13] m0ngr31 commented on #36
Scratch everything I said earlier, this was the trick: `new GlobDependenciesPlugin({'apps/pattern-library/app.html': 'src/apps/pattern-library/patterns/**/*.html'}),` just as you said it would be (I was trying to be too specific with module naming)

[2017-07-24 23:38] #36 closed

[2017-08-04 22:58] jods4 commented on #37
That's a very good question!

My advice is to distribute your library in source format, i.e. do not try to bundle it. Bundling will happen when users build their app.
If you need to compile files (e.g. you write Typescript code, or use Babel with ES6+), just do that into a dist folder. Make it a 1-to-1 compilation.

It's unrelated but look at the `aurelia-webpack-plugin` project for an example of

[2017-08-04 23:01] michaelbull commented on #37
Hi @jods4. Thanks for the reply.

Looking at libraries such as [`aurelia-validation`](https://github.com/aurelia/validation), they produce distributions of the source code to support bundling across multiple module types (amd/commonjs/es2015/es2017 etc...). I was wondering if there's a simple way to produce all of these distributions using webpack to avoid the [ridiculous amount of npm scripts](ht

[2017-08-04 23:30] jods4 commented on #37
`aurelia-webpack-plugin` doesn't care about that because it only targets modern Node runtimes.

It depends what source you use to build your project.
I will assume that you use Typescript.

Then if you look carefully, what `aurelia-webpack-plugin` does is compile `src` with `tsc` and it's configured to output the results in `dist/`.

If you want multiple distributions you can call `tsc` multiple t

[2017-08-06 20:56] alexdresko commented on #35
@jods4 I would super love to be able to support multiple Aurelia apps from a single webpack config. I've spent probably more than a dozen hours trying to make it work (with the DLL plugin, of course), and can't seem to get anywhere.

I can't be the only person who needs multiple Aurelia apps in the same application. `dotnet new Aurelia` is a fantastic starting point, but it seems like developers w

[2017-08-08 20:39] jods4 commented on #35
@alexdresko Have your tried the steps in my first answer?

If you follow them you should be able to create a single webpack config with multiple entry points (one for each of your page).

[2017-08-08 20:49] alexdresko commented on #35
@jods4 Well, no, because you said "This setup does not support Webpack DLL" and I've already got that in place and working great. If you think it'll work with DLL, I'll give it a try.

Thanks for replying. I don't feel alone in this anymore. :)

[2017-08-08 20:59] jods4 commented on #35
So you want multiple DLL compilations + multiple entry points in your main config?
Out of curiosity, what's your motivation for that setup?

Currently the code in `AureliaPlugin` would not support multiple entry points with DLLs.
Note that `AureliaPlugin` itself is only a (large) collage + configuration of many other smaller dedicated plugins. If you're hardcore you could redo that collage yoursel

[2017-08-08 21:07] jods4 commented on #35
@alexdresko I've reviewed the RC3 config and I believe it now could work with DLL (not in the DLL producing config of course but a multi-entry point Aurelia config should also work when consuming DLLs, provided you configure everything properly).

I have updated my answer above with some corrections if you want to try.

[2017-08-08 21:07] alexdresko commented on #35
I have a DLL for Aurelia and a DLL for Bootstrap et al. That seems to work well with a single Aurelia entry point. It also works well for standard Razor pages that just need the latter DLL and their page-specific script.

Where I'm stuck is creating a second Aurelia entry point. I don't know enough about the plugin, but I'm fairly confident that the current version of the plugin is the source of m

[2017-08-08 21:08] alexdresko commented on #35
Awesome! I'll give it a go in the next day or two! Is worth a try if you have at least some suspicion that it might work.

[2017-08-08 21:09] jods4 commented on #35
Let me know how it goes.

[2017-09-18 22:02] jods4 commented on #37
@michaelbull is there anything actionable that I could do related to this issue, or can I close it?

[2017-09-20 19:58] michaelbull commented on #37
Hi @jods4, the only thing I think we could look to resolve is the necessity for all of [this package.json spam](https://github.com/aurelia/validation/blob/master/package.json#L27) to produce the different distributions. I think a webpack plugin could achieve this but I'm not sure - keen to hear your opinion and would be wiling to work on it with you.

[2017-09-20 20:23] jods4 commented on #37
My own personal repo for small webpack examples is probably not the right place for this discussion, so I'll go ahead and close the issue. Feel free to open a new issue in a repo like `aurelia/framework`, `aurelia/cli`, `aurelia/skeleton-*` -- whatever seems more appropriate for basic setup discussion.

My 2¢ on the package you've linked: if you're trying to do it all with shell / package.json, it

[2017-09-20 20:23] #37 closed

[2017-09-21 00:27] jpsala opened #38 "Do you thinks that could be useful to make another demo but this time something more like your own config?"
Hi Jods, thanks for your effort, I learned a lot about webpack and aurelia seeing your demos.
What I would love is to see a full config, something more like your own working scripts :)
Sorry if it is not the place to ask.

[2017-09-21 05:19] jods4 commented on #38
I'm going to be away for three weeks, will look at this when I come back.

If you're looking for a complete setup (with tests, etc), maybe did you have a look at Aurelia skeletons?
https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack

[2017-09-24 14:19] jpsala commented on #38
Hi @jods4, yes, I so them, what I forgot to mention was that what I really wanted to see is a complete dll config, I'm using yours but I'm not to good with webpack and I'm afraid that I'm not using it the right way.
p.d. Sorry for my english

[2017-10-12 16:39] danielmeza commented on #35
Hi @jods4  I folow your steps to cofigure two app with a single config file but it dosn´t work. When I set the noWebpackLoader: true I get this error `No PLATFORM.Loader is defined and there is neither a System API (ES6) or a Require API (AMD) globally available to load your app.`  throw by aurelia-bootstrapper.
In my entry file I set the imports but it cand not configure the Loader propertly beca

[2017-10-13 12:40] alexdresko commented on #35
I experienced the same problem a few weeks ago when I tried the instructions but didn't say anything because I figured I was just following the instructions correctly. Thanks for validating my attempt. Was going to try again, but procrastination wins this round!

[2017-10-18 22:24] jods4 commented on #38
What are you afraid of using incorrectly? Anything specific?

[2017-10-19 17:08] jods4 commented on #35
To be sure: did you use the prolog above in each of your entry point modules?
They should include `import "aurelia-loader-webpack"`, see above.

Let me know if that helps or not.

[2017-10-23 00:09] alexdresko commented on #35
@jods4 Tried again tonight. You can see my full attempt, including the steps I ran through here: https://github.com/alexdresko/multiautest

Everything was working fine until I attempted to follow the instructions (https://github.com/alexdresko/multiautest/commit/2de492b819a7ca62435f6e262f71efdc4acae537)

At the end of the steps I detailed, you can see the error message I'm getting. Not sure if tha

[2017-10-25 20:42] jack4it commented on #38
@jpsala I have a DLL setup working for a side project. Let me know if you want to see some details

[2017-10-26 11:57] jpsala commented on #38
@jods, thanks, I've been using the skeletons but I found your solutions
simpler, I like it more, specially the dll ones
@jackMa, yes!!! I would love to.

On Wed, Oct 25, 2017 at 5:42 PM, Jack Ma <notifications@github.com> wrote:

[2017-10-26 20:39] jods4 commented on #38
I'm going to lock this thread to users whose name starts with `j` 😆

[2017-10-26 20:56] jods4 commented on #35
@alexdresko I believe Aurelia tries to load `bootFirst` when starting up because it's in the `aurelia-app` attribute here:
https://github.com/alexdresko/multiautest/blob/master/Views/Home/Index.cshtml#L5

And that's exactly what `aureliaApp` option in the Webpack plugin takes care of.

I have edited my checklist above to indicate how to adjust for that in a multi entrypoint situation. See points 4

[2017-10-26 23:02] jack4it commented on #38
@jpsala Let me know how you want to proceed. My repository is privately hosted. I can send you the .config files or even I can walk you through a Google Hangout session. @jods4 I'm honored to have the same first **J** in our names :P

[2017-10-27 18:27] alexdresko commented on #35
@jods4 I've run out of time to work on this during my lunch break, but I did have some great success!  4a worked great. I updated the repo if anyone wants to see what I did, though I wouldn't exactly recommend it as a "best practices" example. Anyone who is truly curious what steps need to be taken should review the commit log, as I tried to use that as a way to document the process.

I'm even usi

[2017-10-27 23:31] jods4 commented on #35
I really meant remove it completely. You can pass the DOM element into which Aurelia should inject to app to `setRoot` instead.

[2017-10-28 13:36] jpsala commented on #38
Hello @jack4it, thanks for your offer, I would love to walk through your configuration, but warnings, my english is not good and my knowledge about webpack is not good either :),
in the meantime you can send me your config so I can see it before.
Thanks @jods4 for your efforts with webpack and all the rest

[2017-10-31 00:22] danielmeza commented on #35
@jack4it @alexdresko  Hi guis, sorry for my delay, I'm to busy to. I will send my feedback this weekend, cause I  tried many configurations.

[2018-02-02 14:57] eric-914 commented on #36
I'm adding my 2¢ for troubleshooting tips:  I found that `GlobDependenciesPlugin` doesn't work if the components are in the same folder as the module referencing them.  Once I moved the components into a subfolder, and updated `GlobDependenciesPlugin` it finally started adding them to the bundle.

[2018-02-21 21:50] EMooreMAC commented on #36
I've been banging my head trying to get this to work, and can't figure out the paths. Given the example above, can someone explain why the path to the _dependent_ module is relative to the 'src' folder, and the path to the dependencies is relative to the root? Given that the webpack.config.js is in the root, I would expect that the path to the dependent module would be relative to the root, and th

[2018-02-23 15:38] jods4 commented on #36
@EMooreMAC
The dependent module is resolved according to your webpack configuration, as any other module reference would be. Assuming you have in your webpack config `resolve.modules = ["node_modules", "src"]`, this explains why it appears to be relative to `src`.
In reality it is not "relative to src" and you can refer to a 3rd party module `aurelia-dialog`, use aliases, etc.

The dependencies ar

[2018-06-26 21:12] domenkogler commented on #35
I am posting a [working example](https://github.com/domenkogler/skeleton-navigation/tree/master/multiple-entries) of multiple entry points with webpack 4.
Warning: Custom changes are needed to html-webpack-plugin, as is in [this PR](https://github.com/jantimon/html-webpack-plugin/pull/944).